<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Book in Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add Book in Library</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/add-book-in-library}" th:object="${libraries}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8" >
                            <label class="col-form-label">Library</label>
                            <select class="form-control">
                                <option th:each="li : ${libraries}"
                                        th:value="${li.id}"
                                        th:text="${li.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="form-check" th:each="book : ${books}">
                                <input class="form-check-input" name="book" type="checkbox" id="defaultCheck1" th:value="${book.id}">
                                <label class="form-check-label" for="defaultCheck1" th:text="${book.name}">
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
